<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Flask</h1>
    <p>Hello, {{ name }}! Welcome to our first Flask app with Jinja.</p>
    <h2>Your Favorite Fruits</h2>
<ul>
    {% for fruit in fruits %}
        <li>{{ fruit }}</li>
    {% endfor %}    
</ul>
<ul>
    <!-- {% if name == "Anjali" %}
       <li>Hello from if</li>
    {% else %}
    <li>hello from else</li>   
    {% endif %}    -->
    {% if name == "Abhishek" %}
        <li>Hello from if</li>
    {% endif %}
    <li>Hello from else</li>
        
</ul>  
</body>
</html>